*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #010b13;
}

.container_email {
    background: url(../assets/background-netflix.jpg);
    background-size: cover;
    position: static;
    color: white;
}

.logo-masuk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo-masuk .netflix-banner {
    margin: 0px 40px;
}

.logo-masuk .netflix-banner img {
    width: 24%;
    height: 24%;
}

.masuk_netflix {
    margin: 0px 40px;
    padding: 8px 15px;
    background-color: red;
    border-radius: 5px;
}

.masuk_netflix a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.wrapper-description-email {
    width: 100%;
    height: 100%;
    margin: 80px auto;
    margin-bottom: 5px;
    text-align: center;
    padding-bottom: 150px;
}

.description-home {
    width: 40%;
    margin: auto;
}

.description-home h1 {
    font-size: 50px;
}

.description-home h3 {
    margin: 20px auto;
    font-size: 20px;
    font-weight: normal;
}

.masukkan-email {
    text-align: center;
}

.masukkan-email h3 {
    font-size: 15px;
    margin: 10px auto;
    font-weight: normal;
}

.masukkan-email span input {
    padding: 25px 200px 20px 5px;
    font-size: 16px;
    outline: none;
}

.masukkan-email .mulai {
    background-color: red;
    padding: 20px 30px;
    font-size: 24px;
}

.masukkan-email .mulai a {
    text-decoration: none;
    color: white;
}

.masukkan-email .mulai:hover {
    background-color: #ff1110;
}

.wrapper {
    background-color: #000;
    margin: 5px 0px;
    color: white;
    padding: 50px 50px;
}

.wrapper-box {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
}

.wrapper-box .box-desc {
    padding-right: 50px;
}

.wrapper-box .box-desc h1{
    font-size: 3.125rem;
    margin-bottom: 5px;
}

.wrapper-box .box-desc p {
    font-size: 22px;
}

.wrapper-box .box-img img {
    width: 350px;
    height: 250px;
}

.container-faq .wrapper {
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: normal;
}

.wrapper-box-faq {
    color: white;
    margin-bottom: 80px;
}

.navigation {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.navigation ul li {
    list-style: none;
    background-color: #787276;
    padding: 18px 30px;
    cursor: pointer;
    margin: 3px 0px;
    border-radius: 2px;
}

.navigation ul li span {
    float: right;
}

.pop-up-box-faq {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}

.pop-up-box-faq p{
    background-color: #787276;
    padding: 18px 30px;
    margin: 2px 0px;
    transition: height 0.5s;
    font-size: 18px;
}

.navigation ul li{
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
}

.faq {
    text-align: center;
    margin: 50px auto;
}

.container-footer {
    background-color: black;
    color: grey;
}

.footer {
    width: 50%;
    margin: auto;
    padding: auto;
    padding-bottom: 20px;
}

.footer .contact {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}

.contact a {
    text-decoration: none;
    color: inherit;
}

.contact a:hover {
    text-decoration: underline;
}

.footer .container-submenu {
    display: flex;
    align-items: center;
}

.container-submenu .submenu {
    max-width: 1100px;
    margin: 30px 20px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 30px;
}

.container-submenu .submenu:first-child {
    margin-left: 0px;
}

.container-submenu .submenu p:hover {
    text-decoration: underline;
}

.region-dropdown {
    margin-bottom: 30px;
}

.region-dropdown #region-language{
    padding: 10px 20px;
    background: none;
    color: white;
    outline: none;
    border: 1px solid grey;
    padding: 10px 5px
}
#region-language option {
    color: black;
}

.copyright p {
    font-size: 12px;
}

@media only screen and (max-width: 700px) {

    .description-home {
        width: 80%;
    }

    .description-home h1 {
        font-size: 40px;
    }

    .masukkan-email {
        width: 100%;
    }

    .box-email {
        display: flex;
        flex-direction: column;
    }

    .masukkan-email .mulai {
        font-size: 14px;
        margin: 10px auto;
        border-radius: 5px;
        padding: 15px 20px;
    }

    .masukkan-email span input {
        font-size: 12px;
        padding: 15px 0px;
        padding-right: 90px;
    }

    .wrapper-box {
        flex-direction: column;
    }

    .wrapper-box .box-desc {
        text-align: center;
    }

    .wrapper-box .box-desc h1{
        font-size: 30px;
    }

    .wrapper-box .box-desc p {
        font-size: 20px;
    }

    .wrapper-box .box-img {
        min-width: 200px;
    }

    .faq {
        margin-bottom: 50px;
    }

    .navigation ul li {
        font-size: 16px;
    }

    .pop-up-box-faq p{
        font-size: 14px;
    }

    .footer {
        width: 80%;
        margin: auto;
    }
}

@media only screen and (max-width: 500px) {
    .wrapper {
        padding: 40px 10px;
    }

    .navigation ul li {
        font-size: 12px;
        min-width: 350px;
    }

    .pop-up-box-faq p{
        font-size: 10px;
    }
}